body,div 
{
    margin:0px;
    padding:0px;
    font-size:13px;
    font-family:Arial;
    font-weight:bold;
}
img
{
    border:none; 
}


.main
{
    margin:0px auto 0px auto;
    width:350px;
    height:357px;
}

.header
{
    /*background-image:url('imgs/frame_up1.gif');  */
    background-repeat:no-repeat;
    width:111px;
    height:51px;
    padding-right:132px;
    padding-top:8px;
    position:relative;
}

.Footer
{
    /*background-image:url('imgs/frame_up1.gif'); 
	 background-repeat:no-repeat;
	padding-right:12px;
    padding-top:8px;
    position:relative;
	background-color:Aqua; 
  */
    border: 1px solid #000000;
    width:348px;
    height:23px;
    position:relative;
    z-index:10;
}
.Footer.redCategories{background:transparent url('imgs/footerBG.gif') repeat-x;_overflow:hidden;}
.Footer.redCategories div.cf div{}
.Footer.redCategories div.cf div a{}
.header div
{
    text-align:center;
}
.header a.logo
{
    height: 56px;
    position: absolute;
    right: 0;
    top: 0;
    width: 125px;
}

.frame_mid
{
    background-image:url('imgs/frame_mid.gif');
    background-repeat:repeat-y;
    width:350px;
   
    /*height:auto;*/
    position:relative;
    z-index:2;
}

.gallery
{
    float:right;
    padding-right:1px;
    position:relative;
}

.gallery img
{
    width:166px;
    /*height:424px;*/
}
.gallery a
{
    text-decoration:none;
}
#divGallery
{
	
	width:167px;
	height:403px;
	border-top:1px solid #989898;
	
}
#divGallery div.text
{
  /*position:relative;
  top:-50px;
  margin-bottom:-50px;*/
  position:absolute;
  _overflow:hidden;
  bottom:0;
    _bottom:-1px;
  background-image:url('http://my.xnet.co.il/fast/2011/XTeazerFront/imgs/bg.png');
  background-repeat:repeat;
  width:168px;
  cursor:pointer;
  right:0;
  color:#fff; 
  font-family:Arial (Hebrew),Arial;
  font-size:16px;
  line-height:25px;
  height:48px;  
}
#divGallery div.text span
{
    display: block;
    margin: 6px 8px 6px 0;
    
    width:150px; 
    line-height:18px;
    font-size:16px;
}

.separator
{
    background-image:url('imgs/kav.gif');
    background-repeat:no-repeat;
    width:157px; 
    height:1px; 
    margin-top:5px; 
    margin-bottom:6px;
    
    }
.backPager
{
    position:absolute;
    top:142px;
    right:0px;
    background-image:url('imgs/back.png');
    background-repeat:repeat-y;
    width:25px;
    height:52px;
}

.nextPager
{
    position:absolute;
    top:142px;
    left:0px;
    background-image:url('imgs/next.png');
    background-repeat:repeat-y;
    width:25px;
    height:52px;
}

 /* image gallery css */
.jcarousel-skin-tango .jcarousel-item a{text-decoration:none;color:Red;font-weight:bold;float:right;}
.jcarousel-skin-tango .jcarousel-item a:visited{text-decoration:none;color:Red;font-weight:bold;float:right;}
.jcarousel-skin-tango .jcarousel-item div
{
    background-image:url('imgs/bg_text_pic.png');
    background-repeat:no-repeat;
    position:absolute;
    top:80%;
    right:0px;
    width:167px;
    cursor:pointer;
    color:#A52F1C;
    font-family:Arial (Hebrew),Arial;
    font-size:20px;}

.categories
{
    padding-right:14px;
    padding-top:0px;
    float:right;
    width:158px;
    height:220px;
}

/* .footer
{
    background-image:url('imgs/frame_down1.gif');
    background-repeat:no-repeat;
    width:200px;
    height:28px;
} */

/*	   Botton Div Width:
.tp1
{
    width:43px;
}
.tp5
{
	width:45px;
}
.tp2,.tp6
{
    width:43px;
}
.tp3,.tp7
{
    width:43px;
}
.tp4,.tp8
{
    width:43px;
}
   */

/* clearing  */
.cf:after {

content:" ";
display:block;
font-size:0px;
height:0px;
visibility:hidden;
clear:both;
}
.cf {
	
}
/* end clearing */


