<!-- TOP Main Story Table -->
<table id="cmpTopStory" dir="rtl" style="margin-bottom:-4px;"
bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td data-adid="2239||181|||" class=
      "ghciTopStoryTicker1 dyother dyMonitor" align="right"
      valign="top" width="132">
        <!-- Left Ticker -->

        <div style=
        "margin-bottom:10px;width:132px;background:#ff0000">
          <div style="padding:1px 6px 4px 0px">
            <a href=
            "http://www.ynet.co.il/home/0,7340,L-184,00.html"><u class="ltext">
            לכל המבזקים</u></a>
          </div>
        </div>

        <div style="position:relative">
          <div id="ads.mivzak.1" class="mivzakon" style=
          "position:absolute;"></div>
        </div><iframe src="live_files/012114L-184-204-13200.html"
        id="MivzakimTicker" marginheight="0" marginwidth="0"
        vspace="0" hspace="0" scrolling="no" frameborder="no"
        height="189" width="132"></iframe>

        <div class="hslice" id="webslcmivzakim" style=
        "display:none;">
          <div style="display:none;" class="entry-title">
            מבזקים
          </div>

          <div class="ttl" style="display:none">
            10
          </div><a href=
          "http://www.ynet.co.il/Ext/Comp/Ticker/Dhtml_Flash_Ticker/0,12114,L-184-200-320--1,00.html"
          rel="entry-content"></a>
        </div>

        <div class="hslice" id="webslcweather" style=
        "display:none;">
          <div style="display:none;" class="entry-title">
            מזג אויר
          </div>

          <div class="ttl" style="display:none">
            10
          </div><a href="http://my.ynet.co.il/weather/index.html"
          rel="entry-content"></a>
        </div>
      </td>

      <td width="12">
        <div style="width:12px;"></div>
      </td>

      <td bgcolor="#CCCCCC" width="1">
        <div style="width:1px;"></div>
      </td>

      <td width="11">
        <div style="width:11px;"></div>
      </td>

      <td data-adid="19840||181|||" data-dy-content="19840" dir=
      "rtl" class="ghciTopStoryMain1 dycontent dyMonitor" align=
      "right" valign="top" width="194">
        <div dir="ltr" style="height:38px;overflow:hidden;">
        <!-- date gifs -->
        <img src="live_files/14.gif" alt=
        "10/05/2014 23:17"><img src="live_files/5.gif" alt=
        "10/05/2014 23:17"><img src="live_files/014.gif" alt=
        "10/05/2014 23:17"></div>

        <div style="height:15px;overflow:hidden;">
          &nbsp;
        </div>

        <table data-dy-article="1" height="170" border="0"
        cellpadding="0" cellspacing="0" width="194">
          <tbody>
            <tr>
              <td valign="bottom">
                <img src="live_files/ws.gif" height="1" width=
                "194"><br>
                <a href=
                "http://www.ynet.co.il/articles/0,7340,L-4518084,00.html"
                class="blkbigheader" hm="1"><span style=
                "font-size:19px;line-height:19px;">{{headline}}</span></a><br>


                <p style="margin-top:1px"><a href=
                "http://www.ynet.co.il/articles/0,7340,L-4518084,00.html"
                class="text12" style="color:black" hm=
                "1">{{subtitle}}</a><br>
                <a href=
                "http://www.ynet.co.il/articles/0,7340,L-4518084,00.html"
                class="rightbar" hm="1">לסיפור המלא. .
                .</a>&nbsp;&nbsp;<img src="live_files/vds_r.gif"
                height="10" border="0" width="14"></p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>

      <td width="24"><img src="live_files/ws.gif" height="1"
      width="24"></td>

      <td class="ghciTopStoryImage1" height="220" valign="top"
      width="396">
        <div data-adid="19864||181|||" class=
        "dycontent dyMonitor" data-dy-content="19864" id=
        "tsyImageDiv">
          <a data-dy-article="1" href=
          "http://www.ynet.co.il/articles/0,7340,L-4518084,00.html"><div
            style="width:396px; height:220px; background:url('{{imgsrc}}') 50% 50% no-repeat; background-size: contain"></div></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- END Top Main Story Table -->
